<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des Banque</title>
</head>
<body>
<div align="center">
    <h1>Liste Banque</h1>
    <a href="/DariTn/new">Liste des banque</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>BanqueID</th>
                <th>NomBanque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="banque : ${banque}">
                <td th:text="${banque.id}">BanqueID</td>
                <td th:text="${banque.nombanque}">NomBanque</td>
                <td>
                    <a th:href="@{'/editbanque/' + ${banque.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deletebanque/' + ${banque.id}}">Delete</a>
                </td>
                
            
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>