<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Annonces</title>
</head>
<body>
<div align="center">
    <h1>Liste des annonces</h1>
    <a href="/DariTn/new">Create New Annonce</a>
    <br/><br/>
    <table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Adresse</th>
					<th>Actions</th>
				</tr>
			</thead>
		<tbody>
            <tr th:each="Annonce : ${listAnnonces}">
                <td th:text="${Annonce.titre}">Titre</td>
                <td th:text="${Annonce.description}">Description</td>
                <td th:text="${Annonce.prix}">Prix</td>
                <td th:text="${Annonce.adresse}">Adresse</td>
                
            </tr>
        </tbody>
		</table>
</div>   
</body>
</html>